
* {
    background-color: #eee;
}

#wrapper {
    width: 1020px;
    margin: auto;
}

#images {
    width: 500px;
    height: 400px;
    overflow: hidden;
    position: relative;
    list-style: none;
}

.box_image {
    position: absolute;
    top: 0px;
    left: 0px;
}
