
* {
    background-color: #eee;
}

#wrapper {
    width: 1020px;
    margin: auto;
}

ul.slideshow {
    border: 1px solid black;
    margin: 1.5em 0;
    height: 320px;
    overflow: hidden;
    /* 
        Zum spaeteren Ausrichten! 
    */
    position: relative; 
}

ul.slideshow li {
    position: absolute;
    top: 0;
    left: 0;
}

.slideshowcontainer {
    position: relative;
}

.slideshowcontainer a {
    position: absolute;
    right: 17px;
    bottom: 10px;
}

.slideshowcontainer #backbutton {
    right: 60px;
}

